@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --primary-bg: #fafafa;
  --surface-bg: #fafafa;
  --primary-text: #484b6a;
  --secondary-text: #9394a5;
  --completed-text: #d2d3db;
  --active-text: #3a7bfd;
  --primary-border: #cacde8;
  --checked-gradient: linear-gradient(#57ddff, #c058f3);

  --bgImg: url("/images/bg-desktop-light.jpg");
  --bgImgMob: url("/images/bg-mobile-light.jpg");
}
.darkTheme {
  --Purple-800: #393a4c;
  --Gray-600-dark: #9394a5;
  --Purple-300-dark: #5c5f7f;

  /* Semantic Variables */
  --primary-bg: #161722;
  --surface-bg: #25273c;
  --primary-text: #e4e5f1;
  --secondary-text: #5c5f7f;
  --completed-text: #4d5066;
  --primary-border: #4d5066;

  --bgImg: url("/images/bg-desktop-dark.jpg");
  --bgImgMob: url("/images/bg-mobile-dark.jpg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}
body {
  background-color: var(--primary-bg);
  background-image: var(--bgImgMob);
  background-repeat: no-repeat;
  background-size: 100% 30%;
  transition: background-color 0.3s ease-in-out,
    background-image 0.3s ease-in-out;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 4rem 2rem;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 33rem;
  margin-bottom: 40px;
  color: var(--surface-bg);
}
.head h1 {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.head .btn {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 50%;
}
.btn img {
  width: 1.5rem;
  height: 1.5rem;
}
.btn img:nth-child(2) {
  display: none;
}
form {
  width: 100%;
  max-width: 33rem;
  margin-bottom: 1rem;
}
.inputDiv {
  background: var(--surface-bg);
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
input {
  background: transparent;
  flex: 1;
  font-size: 1rem;
  color: var(--primary-text);
  padding: 1.25rem 1rem 1.25rem 0;
  border: none;
  outline: none;
}
.checkmark {
  display: inline;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: 0 1rem;
  border: 2px solid var(--primary-border);
}
.list {
  list-style: none;
  background: var(--surface-bg);
  width: 100%;
  max-height: 23rem;
  border-radius: 0.4rem;
  margin: 1rem 0;
  cursor: pointer;
  user-select: none;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.list::-webkit-scrollbar {
  display: none;
}
li {
  padding: 1.25rem 1rem;
  border-bottom: 0.05rem solid var(--primary-border);
  color: var(--primary-text);
}
.item {
  display: flex;
  align-items: center;
}
.item > img {
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  border-radius: 50%;
  opacity: 0.2;
  transition: opacity 300ms ease-in-out;
}
.item:hover > img {
  opacity: 1;
  cursor: pointer;
}
.marker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin: 0 1rem 0 0;
  border: 2px solid var(--primary-border);
}
li:last-child a {
  color: var(--secondary-text);
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: none;
}
li:last-child {
  position: sticky;
  bottom: 0;
  z-index: 1;
  background: var(--surface-bg);
  display: flex;
  justify-content: space-between;
  border-bottom: 0.05rem solid transparent;
}
.selector {
  display: none;
  place-content: center;
  gap: 1.5rem;
  padding: 1.25rem;
  width: 100%;
  background: var(--surface-bg);
  color: var(--secondary-text);
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.selected {
  color: var(--active-text);
  font-weight: 700;
}
.drag {
  color: var(--secondary-text);
  text-align: center;
  margin: 2rem 0;
}
.attribution {
  font-size: 0.75rem;
  text-align: center;
  color: var(--secondary-text);
}
.attribution a {
  color: var(--secondary-text);
  text-decoration: none;
  font-weight: 700;
}
.attribution a:hover {
  text-decoration: underline;
  color: var(--active-text);
}
.mobileHide {
  display: flex;
}
.show {
  display: flex;
}
.hide {
  display: none;
}
.checked {
  text-decoration: line-through;
  color: var(--completed-text);
}
.item.checked .marker {
  background: var(--checked-gradient);
  border: 2px solid var(--surface-bg);
}
@media (min-width: 48rem) {
  body {
    background-image: var(--bgImg);
  }
main {
  padding: 3rem;
}
  .head h1 {
    font-size: 2.2rem;
  }
  .selector {
    display: flex;
    box-shadow: none;
    width: auto;
    gap: 2rem;
    padding: 0;
  }
  .mobileHide {
    display: none;
  }
}
